.indexCell {
    height: 100%;
    padding: 10px;
}


@media (max-width: 1249px) {
    .indexCell {
      width: 350px;
    }
  }
  
  @media (min-width: 1250px)  {
    .indexCell {
      width: 35%;
    }
  }

.indexContainer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: space-between; /* Distribute space between items */
}

.indexValues {
    display: flex;
    flex-direction: column; /* Stack items vertically */
}