.btn {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  @media (max-width: 1010px) {
    .btn {
      padding-left: 6px;
      padding-right: 6px;
    }

    .rounded-pill {
      border-radius: 10px !important;
    }
  }
  
  @media (min-width: 1011px)  {
    .btn {
      padding-left: 48px;
      padding-right: 48px;
    }
  }

  .btn-light {
    background-color: #d3d3d3;

  }

  .btn-light:hover {
    background-color: #bebebe;
  }