.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
  }
  
  .profile-title {
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  .profile-content {
    display: flex;
    flex-direction: row; /* This puts ProfileMiddle and ProfileRight in a row */
    justify-content: center; /* Centers the components in the row */
    align-items: center; /* Aligns items to the start of the cross axis */
    width: 100%; /* Adjust the width as needed */
    gap: 20px; 
  }
  
  .profile-middle {
    flex-grow: 1; 
  }
  
  .profile-right {
    flex-shrink: 0; /* Prevents the component from shrinking */
    margin-left: auto; /* Pushes the component to the right */

  }